[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
waitress = "*"
Flask = "*"
flask-cors = "*"
physrisk-lib = "==0.30.0"
flask-jwt-extended = "*"

[dev-packages]
pdm = "*"
pytest = "*"
tox = "*"
black = "*"
isort = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
